{% extends 'base.html' %}
{% load static %}
{% block title %} ultramods {% endblock title %}

{% block body %}
<div class="section">
    <h2></h2>
    <div class="image_container">
        <div class="cards image1">
            <a href=""><img src= "{% static "netflix.png" %}" alt="image1">
                <br>
                <h3>NETFLIX</h3>
            </a>
        </div>
        <div class=" cards image2">
            <a href="#"><img src="{% static "vooth.jpeg" %}" alt="image2">
                <h3>VOOT</h3>
            </a>
        </div>
        <div class="cards image3">
            <a href="#">
                <img src="{% static "zee5.png" %}" alt="image3">
                <br>
                <h3>ZEE5</h3>
            </a>
        </div>
        <div class="cards image4">
            <a href="Discussion Forum/Rain/rain.html"><img src="{% static "hotstar.gif" %}" alt="image4">
                <br>
                <h3>HOTSTAR</h3>
            </a>
        </div>
        <div class="cards image5">
            <a href="Discussion Forum/Temperature/temperature.html"><img src="{% static "sonyliv.png" %}" alt="image5">
                <br>    
                <h3>SONYLV</h3>
            </a>
        </div>
        <div class="cards image6">
            <a href="Discussion Forum/Wind/wind.html"><img src="{% static "disney.jpeg" %}" alt="image6">
                <h3>DISNEY+</h3>
            </a>
        </div>
        <div class="cards image7">
            <a href="#">
                <img src="{% static "reeso.png" %}" alt="image3">
                <br>
                <h3>REESO</h3>
            </a>
        </div>
        <div class="cards image8">
            <a href="#">
                <img src="{% static "snapchat.png" %}" alt="image3">
                <br>
                <h3>SNAPCHAT</h3>
            </a>
        </div>
        <div class="cards image9">
            <a href="#">
                <img src="{% static "spotify.jpg" %}" alt="image3">
                <br>
                <h3>SPOTIFY</h3>
            </a>
        </div>
        <div class="cards image10">
            <a href="#">
                <img src="{% static "prime.png" %}" alt="image3">
                <br>
                <h3>PRIME VIDEO</h3>
            </a>
        </div>
        <div class="cards image11">
            <a href="#">
                <img src="{% static "truecaller.jpeg" %}" alt="image3">
                <br>
                <h3>TRUECALLER</h3>
            </a>
        </div>
        <div class="cards image12">
            <a href="#">
                <img src="{% static "KINEMASTER.jpeg" %}" alt="image3">
                <br>
                <h3>KINEMASTER</h3>
            </a>
        </div>

    </div>

</div>


{% endblock body %}